
<section class="container-fluid">
    <div id="HomePage-Container" class="row HomePage-Container">
        <vc:side-menu room-type=""/>
        <div class="HomePage-Mid-Container
             col-md-7 col-sm-7 pt-5 text-center text-white bg-dark border-top border-right border-bottom border-info">

        </div>
        <partial name="ActivityMenuPartial" />
    </div>
</section>

