.siteIconNav{
    width:50px;
}

.siteIcon {
    width: 70px;
}

.HomePage-Container {
    height: 90vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.HomePage-Container::-webkit-scrollbar {
    display: none;
}

.SignUp-Container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.SignUp-Container::-webkit-scrollbar {
    display: none;
}

.SignIn-Container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.SignIn-Container::-webkit-scrollbar {
     display: none;
}

.HomePage-Container {
    height: 91.5vh;
}

.HomePage-SideMenu {
    height: 40vh;
    overflow-y: scroll;
    overflow: hidden;
    background-color: rgb(62, 57, 57);
}

@media only screen and (width <= 36em) {
    .HomePage-SideMenu {
        height:80%;
    }

    .HomePage-SideMenu-Container {
        height:15vh;
    }
}

.HomePage-UserProfile{
    height:50vh;
    background-color:rgb(41, 35, 35);
}

.AddFriendWindow-Container {
    display:none;
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 10vh;
    border-radius:10px;
    z-index:1;
}

.AddFriendWindow {
    width: 30vw;
    height: 10vh;
}