@page
@model Wire.Pages.IndexModel

    <div class="container-fluid mt-2">
        <div class="row HomePage-Container">
            <div class="col-md-5 mt-5 col-sm-12 order-lg-1 order-2">
                <p class="mt-5 text-center p-1 font-italic font-weight-bolder h1">Easy</p>
                <p class="p-1 text-center font-italic font-weight-bold text-info h1">messaging</p>
                <p class="p-1 text-center font-italic font-weight-bold h2">ahead</p>
                <p class="h4 w-100 mt-5 pb-5">
                    Wire is your hub for comunication with all your friends
                    and people you want to talk to without fear of someone sneaking.
                    We delete all messages from the last 24 hours by default and if desired, part/all of them
                    for a period chosen by you.
                </p>
            </div>
            <div class="col-md-7 mt-4 col-sm-12 order-lg-2 order-1">
                <img src="~/HomeImage/pexels-photo-584636.jpeg" class="img-fluid rounded shadow" />
            </div>
        </div>
    </div>

