@page
@model Wire.Pages.SignInPage.AuthorizeSecondFactorModel

<div class="container">
   <div class="row">
       <div style="height:90vh;" class="col">
           <p class="text-center h1 mt-5">Authorize</p>
           <div class="text-center">
               <i class="bi bi-shield-lock-fill h1"></i>
           </div>          
           <form class="text-center mt-5" method="post">
               <input type="hidden" asp-for="RememberMe"/>
               <label class="form-label">Input security code</label>
               <input type="text" name="TwoFaCode" 
                      placeholder="Your code" class="form-control form-control m-auto col-xl-4 col-lg-4 col-md-6 col-sm-8 col-8" />
               <button type="submit" style="width:10em;" class="btn btn-dark mt-5">Send</button>
           </form>
       </div>
   </div>
</div>